{# template #}
{% extends "main.html" %}

{# extra head #}
{% block extrahead %}
    {# styles #}
    <style>
        .md-typeset hr {
            margin: 0;
        }

        /* post */
        .md-typeset .post {
            margin-bottom: 1rem;
            padding-bottom: 0.5em;
            border-bottom: .05rem solid var(--md-default-fg-color--lightest);
        }
        .md-typeset .post .post-title {
            margin: 0.25rem 0;
            text-decoration: none;
            font-size: 1.3em;
        }
        .md-typeset .post .post-info-wrap{
            display: flex;
        }
        .md-typeset .post .post-info {
            width: 100%;
        }
        .md-typeset .post .post-banner {
            margin-top: -1rem;
            max-width: 8rem; /* 限制最大寬度為 130px */
            width: 100%; /* 確保圖片寬度不會超過容器寬度 */
            height: auto; /* 自動調整高度，保持比例 */
            max-height: 4rem; /* 保持原有的最大高度限制 */
            object-fit: contain; /* 確保圖片不會被拉伸 */
        }
        
        /* 手機端調整 */
        @media (max-width: 800px) {
            .md-typeset .post .post-banner {
                max-width: 4rem; /* 手機端同樣限制寬度為 130px */
                width: 100%; /* 確保寬度不超過容器 */
                height: auto; /* 自動調整高度，保持比例 */
                max-height: 2rem; /* 保持原有的手機端最大高度限制 */
                object-fit: contain; /* 確保圖片不被拉伸 */
            }
        }
        .md-typeset .post .post-description {
            margin: 0 1rem 0 0;
        }
        .md-typeset .post .post-extra {
            margin: 0.5rem 1rem 0 0;
            font-size: small;
            color: darkgray;
        }
        .md-typeset .post .post-tags {
            margin: 0;
            text-align: end;
        }
        .md-typeset .post {
            margin: 0;
        }
        /* page */
        .md-typeset .pages>.page {
            display: block;
        }

        /* pagination */

        .md-typeset .md-pagination {
            margin: 0.5em 0;
        }
        .md-typeset .md-pagination a,
        .md-typeset .md-pagination span {
            border-radius: 2em;
        }
        .md-typeset .md-pagination .md-pagination__current {
            background-color: var(--color);
            color: white;
            font-weight: bold;
        }
        .md-typeset .md-pagination a:hover:not(.active) {
            background-color: #ddd;
        }
        .md-post__meta.md-meta {
            margin-top: 0.5rem; /* 設置與上方的間距 */
            margin-bottom: 0; /* 移除與下方的間距 */
          }
        .md-meta__list {
            list-style-type: none !important; /* 移除列表符號 */
            display: flex !important; /* 使用 flex 排列在同一行 */
            padding: 0 !important; /* 移除內間距 */
            margin: 0 !important; /* 移除外間距 */
          }
          .md-meta__item {
            margin: 0px !important; /* 設置項目之間的間距，根據需要調整 */
          }
          .md-draft {
            margin-top: 0.5rem; /* 設置與上方列表之間的間距 */
            display: inline-block; /* 保持 span 為 inline-block 以便控制 margin */
          }
    </style>
{% endblock %}

{# content #}
{% block content %}
{% if posts|count > 0 %}
    {#pagination top#}
    {% if pagination %}
    {% include "partials/pagination.html" %}
    {% endif %}
    <hr>
    {% from "partials/colors.html" import color %}
    <div class="pages">
        <div class="page">
            {% for post in posts %}
                {% set post_image = "" %}
                {% if post.meta and post.meta.banner %}
                    {% set post_image = post.canonical_url ~ "/images/" ~ post.meta.banner %}
                {% endif %}
                <div class="post">
                    <div class="md-post__meta md-meta">
                        <ul class="md-meta__list">
                          <li class="md-meta__item">
                            <time datetime="{{ post.config.date.created }}">
                              {{- post.config.date.created | date -}}
                            </time>
                            {#- Collapse whitespace -#}
                          </li>
                          {% if post.categories %}
                            <li class="md-meta__item">
                              {{ lang.t("blog.categories.in") }}
                              {% for category in post.categories %}
                                <a href="{{ category.url | url }}" class="md-meta__link">
                                  {{- category.title -}}
                                </a>
                                {%- if loop.revindex > 1 %}, {% endif -%}
                              {% endfor -%}
                            </li>
                          {% endif %}
                          {% if post.config.readtime %}
                            {% set time = post.config.readtime %}
                            <li class="md-meta__item">
                              {% if time == 1 %}
                                {{ lang.t("readtime.one") }}
                              {% else %}
                                {{ lang.t("readtime.other") | replace("#", time) }}
                              {% endif %}
                            </li>
                          {% endif %}
                        </ul>
                        {% if post.config.draft %}
                          <span class="md-draft">
                            {{ lang.t("blog.draft") }}
                          </span>
                        {% endif %}
                    </div>
                    <h4 class="post-title">
                        <a href="{{ post.canonical_url }}">{{ post.title }}</a>
                    </h4>
                    <div class="post-info-wrap">
                        <div class="post-info">
                            <p class="post-description">
                                {% if post.meta and post.meta.description %}
                                    {{ post.meta.description | truncate(200) }}
                                {% endif %}
                            </p>
                            <div class="post-extra row">
                                <div class="col"></div>
                                <div class="col">
                                    {% if post.meta and post.meta.tags %}
                                        <p class="post-tags">
                                            {% for tag in post.meta.tags %}
                                            <a class="tag" href="{{ config.site_url }}tags/#{{tag}}">
                                                <span class="tag-name" style="color:{{ color( loop.index%12) }};">
                                                    &nbsp; #{{ tag }}
                                                </span>
                                            </a>
                                            {% endfor %}
                                        </p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% if post_image %}
                            <a class="glightbox" href='{{ post_image }}' data-type="image" data-width="auto" data-height="auto" data-desc-position="bottom">
                                <img class="post-banner " src='{{ post_image }}' />
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{# pagination bottom#}
    {% if pagination %}
        {% include "partials/pagination.html" %}
    {% endif %}
{% else %}
    <style>
        .md-typeset .center {
            text-align: center;
        }
    </style>
    <p class="center">
        尚無文章
    </p>
{% endif %}
{% endblock %}